package ${package}.service;


import com.github.pagehelper.Page;
import java.util.List;


/**
 * ${comments}
 *
 * @author ${author}
 * @email ${email}
 * @date ${datetime}
 */
public interface ${className}Service  {


    /**
    * 保存 ${comments}
    * @param input input
    * @return id
    */
    int insert(Insert${className}Input input );



    /**
    * 更新${comments}
    * @param input input
    * @return 是否成功
    */
    boolean update(Update${className}Input input);

    /**
    *删除${comments}
    * @param id id
    * @return 是否成功
    */
    boolean delete(int id);

    /**根据id获取${comments}
    * @param id id
    * @return
    */
    ${className}Entity getById(int id);

    /**
    *
    * 批量获取${comments}
    * @param batchIds 批量ids
    * @return
    */
    List<${className}Entity> listByBatchIds(List<Integer> batchIds);

    /**
    * 分页查询
    *
    * @param input input
    * @return
    */
    Page<${className}Entity> pagedQuery(PagedQuery${className}Input input);

    /**
    * 将Do对象转换成Domain对象
    *
    * @param liveOrderDo 实体
    * @return domain
    */
    ${className} doToDomain(${className}Entity liveOrderDo);

    /**
    * 将Do对象转换成Domain对象
    *
    * @param dos dos
    * @return domains
    */
    List<${className}> doToDomain(List<${className}Entity> dos);

}

